
<form method="POST" action="/tasks">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div>
    <label for="task">内容</label>
    <input id="task" name="task" type="text" required>
  </div>
  <div>
    <select name="state">
      <% @status.each_with_index do |s,i| %>
      <option value="<%= s %>"><%= s %></option>
      <% end %>
    </select>
    <label>分類</label>
  </div>
  <div>
    <input type="date" name="limit_date" required>
    <label>期限</label>
  </div>
  <p>
    <button type="submit">create</button>
  </p>
</div>
</form>
<%# flash message %>
<% flash.each do |msg| %>
<div class="alert alert-primary" role="alert">
  <%= msg[1] %>
</div>
<% end %>

<table>
  <tbody>
    <% @tasks.each do |t| %>
    <div class="list-group">
      <tr class="list-group-item list-group-item-action list-group-item-light">
          <%# 各タスクの色変更 %>
          <%
            task_state = {}
            if t.state == 'todo'
              task_state[:state_color] = 'alert-info' 
            elsif t.state == 'doing'
              task_state[:state_color] = 'alert-light'
            else
              task_state[:state_color] = 'alert-success'
            end
          %>
        <td class="alert <%= task_state[:state_color] %>"><%= t.state %></td>
        <td>
          <a href="/tasks/<%= t.id %>" class="btn btn-primary">edit</a>
        </td>
        <td>
          <form method="POST" action="/tasks/<%= t.id %>">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <button type="submit" class="btn btn-secondary">delete</button>
          </form>
        </td>
        <td><%= t.limit_date %>  </td>
        <td><%= t.task %></td>
      </tr>
    </div>
    <% end %>
  </tbody>
</table>